.banner{
  position: relative;
  background-color: #1B1A1B;
  box-sizing: border-box;
}

.banner__start-word{
  position: relative;

  font-family: "Arial Black", serif;

  font-style: normal;
  font-weight: bold;
  font-size: 150px;
  line-height: 100%;

  text-align: left;
  letter-spacing: -0.1em;

  margin: 0;
}

.banner__start-word::after {
  content: '';
  position: absolute;

  left: 504px;
  top: 58px;

  width: 675px;
  height: 762px;

  background-image: url('../banner/img/man.png');
}

.banner__text{
  margin-bottom: 65px;

  padding-left: 110px;

  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 50px;
}

.banner__blocks {
  position: relative;

  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.banner__block1 {
  flex-basis: 193px;
}

.banner__1tittle1 {
  font-style: normal;
  font-weight: 900;
  font-size: 100px;
  line-height: 141px;
  /* identical to box height */

  color: #CD06FF;

  text-align: center;
}

.banner__1tittle2 {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
}

.banner__block2 {
  flex-basis: 161px;
}

.banner__2tittle1 {
  padding-top: 36px;

  font-style: normal;
  font-weight: 900;
  font-size: 75px;
  line-height: 106px;
  /* identical to box height */

  font-variant: small-caps;

  color: #CD06FF;
}

.banner__2tittle2 {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
}


.banner__blocks:after {
  content: url("../banner/img/circle.svg");
  width: 97px;
  height: 97px;

  position: absolute;
  left: 534px;
  top: 410px;
}

.banner__p-checkbox {
  display: inline-block;
  width: 374px;
  height: 80px;

  background: #6C0287;
  border-color: #6C0287;
  border-radius: 10px;

  padding: 25px 69px;

  margin-bottom: 154px;

  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  /* identical to box height, or 115% */

  text-transform: uppercase;
  color: white;
}

.banner__blocks {
  margin-bottom: 150px;
}
