.banner{
  position: relative;
  background-color: #1B1A1B;
  box-sizing: border-box;
}

.banner__start-word{
  position: relative;

  font-family: "Arial Black", serif;

  font-style: normal;
  font-weight: bold;
  font-size: 150px;
  line-height: 100%;

  text-align: left;
  letter-spacing: -0.1em;

  margin: 0;
}

.banner__start-word::after {
  content: '';
  position: absolute;

  left: 504px;
  top: 58px;

  width: 675px;
  height: 762px;

  background-image: url('../banner/img/man.png');
}

.banner__text{
  margin-bottom: 65px;

  padding-left: 110px;

  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 50px;
}

.banner__blocks {
  position: relative;

  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.banner__block1 {
  flex-basis: 193px;
}

.banner__1tittle1 {
  font-style: normal;
  font-weight: 900;
  font-size: 100px;
  line-height: 141px;
  /* identical to box height */

  color: var(--color-1);

  text-align: center;
}

.banner__1tittle2 {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
}

.banner__block2 {
  flex-basis: 161px;
}

.banner__2tittle1 {
  padding-top: 36px;

  font-style: normal;
  font-weight: 900;
  font-size: 75px;
  line-height: 106px;
  /* identical to box height */

  font-variant: small-caps;

  color: var(--color-1);
}

.banner__2tittle2 {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
}

.banner__circle:hover {
  content: url("../banner/img/circle1.svg");
}

.banner__circle:active {
  content: url("../banner/img/circle2.svg");
}

.banner__circle:focus {
  content: url("../banner/img/circle3.svg");
}


.banner__circle {
  cursor: pointer;
  content: url("../banner/img/circle.svg");
  width: 97px;
  height: 97px;

  position: absolute;
  left: 515px;
  top: 429px;
}

.banner__p-checkbox {
  display: inline-block;
  width: 374px;
  height: 80px;

  background: var(--color-2);
  border-color: var(--color-2);
  border-radius: 10px;

  padding: 25px 69px;

  margin-bottom: 154px;

  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  /* identical to box height, or 115% */

  text-transform: uppercase;
  color: white;
}

.banner__p-checkbox:hover {
  background: var(--color-3-hover-focus);
}

.banner__p-checkbox:focus {
  background: var(--color-3-hover-focus);
}

.banner__p-checkbox:active {
  background: var(--color-4-hover-focus);
}

.banner__blocks {
  margin-bottom: 150px;
}

@media (max-width: 1024px) {
  .banner__start-word {
    font-size: 120px;
  }

  .banner__text {
    font-size: 22px;
    line-height: 30px;
  }

  .banner__1tittle1 {
    font-size: 80px;
    line-height: 113px;
  }

  .banner__2tittle1 {
    font-size: 60px;
    line-height: 85px;
  }

  .banner__1tittle2 .banner__2tittle2 {
    font-size: 26px;
    line-height: 30px;
  }

  .banner__circle {
    width: 67px;
    height: 67px;
  }

  .banner__p-checkbox {
    font-size: 22px;
    line-height: 30px;

    width: 296px;
    height: 64px;

    padding: 17px 48px;
  }

  .banner__start-word::after {
    content: url("../banner/img/man 1024.png");
    width: 453px;
    height: 520px;
  }

}
