.questions__start-word{
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;

  text-align: center;
  text-transform: uppercase;

  margin-bottom: 40px;
}

.questions__block{
  max-width: 100%;
  margin-bottom: 20px;
}

.questions__block-white{
  background: #FFFFFF;
}

.questions__block-purple{
  background: var(--color-2-black);
}

.questions__button {
  padding: 30px 70px;

  border: transparent;
  background-color: transparent;
  width: 100%;
  cursor: pointer;
  text-align: left;
}

.questions__text{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  display: inline-block;
}

.questions__text-white{
  color: #1C1A1A;
}

.questions__text-purple{
  color: #FFFFFF;
}

.questions__text-white:after {
  content: url(../questions/img/open-white-block.svg);
  vertical-align: middle;
  float: right;
  margin-top: -10px;
}

.questions__text-white:hover:after {
  content: url("../questions/img/purple1.svg");
  vertical-align: middle;
  float: right;
  margin-top: -9px;
}

.questions__text-white:active:after , .questions__text-white:focus:after {
  content: url("../questions/img/purple2.svg");
  vertical-align: middle;
  float: right;
  margin-top: -9px;
}

.questions__text-wrapper {
  height: 0;
  overflow: hidden;
  transition: height .4s ease-in-out;
}

.questions__active .questions__text-wrapper {
  height: auto;
}

.questions__text-footer {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding: 30px 70px;
  color: #000000;
}

.questions__text-footer-purple {
  color: #FFFFFF;
}

.questions__text-purple::after {
  content: url("../questions/img/open-purple-block.svg");

  vertical-align: middle;
  float: right;

  margin-top: -9px;
}

.questions__text-purple:hover:after {
  content: url("../questions/img/white1.svg");
  vertical-align: middle;
  float: right;
  margin-top: -9px;
}

.questions__text-purple:active:after , .questions__text-purple:focus:after {
  content: url("../questions/img/purple2.svg");
  vertical-align: middle;
  float: right;
  margin-top: -9px;
}

.questions__block:last-child{
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .questions__block-purple {
    background: #FFFFFF;
  }

  .questions__text-purple::after {
    content: url("../questions/img/open-white-block.svg");

    vertical-align: middle;
    float: right;

    margin-top: -9px;
  }

  .questions__text-purple:hover:after {
    content: url("../questions/img/purple1.svg");
    vertical-align: middle;
    float: right;
    margin-top: -9px;
  }

  .questions__text-purple:active:after , .questions__text-purple:focus:after {
    content: url("../questions/img/purple2.svg");
    vertical-align: middle;
    float: right;
    margin-top: -9px;
  }
}

@media (max-width: 768px) {
  .questions__text {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 320px) {
  .questions__block {
    padding: 30px 15px;
  }

  .questions__text {
    font-size: 12px;
    line-height: 16px;
    max-width: 224px;
    max-height: 32px;
  }

  .questions__block-purple {
    background: #FFFFFF;
  }

  .questions__text-purple {
    color: #1C1A1A;
  }

  .questions__text-purple::after {
    content: url("../questions/img/open-white-block.svg");

    vertical-align: middle;
    float: right;

    margin-top: -40px;
  }

  .questions__text-purple:hover:after {
    content: url("../questions/img/purple1.svg");
    vertical-align: middle;
    float: right;
    margin-top: -40px;
  }

  .questions__text-purple:active:after , .questions__text-purple:focus:after {
    content: url("../questions/img/purple2.svg");
    vertical-align: middle;
    float: right;
    margin-top: -40px;
  }

  .questions__text-white::after {
    margin-top: -40px;
  }

  .questions__text-white:hover:after {
    margin-top: -40px;
  }

  .questions__text-white:active:after , .questions__text-white:focus:after {
    margin-top: -40px;
  }
}
