.form {
  background: var(--color-2-black);
  padding-bottom: 80px;
}

.form__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  /* or 125% */

  text-align: center;
  text-transform: uppercase;

  margin-bottom: 40px;
}

.form__main-text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */

  text-align: center;

  margin-bottom: 47px;
}

.form__list-halls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;

  margin-bottom: 60px;
}

.form__item > input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__item {
  cursor: pointer;

  padding-top: 7px;
  padding-left: 6px;

  background: #FFFFFF;
  border-radius: 8px;
  width: 250px;
  height: 55px;

  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  /* identical to box height, or 133% */

  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.form__item:hover {
  background: #EADEED;
  border: 3px solid var(--color-4-hover-focus);
  box-sizing: border-box;
}

.form__item:active {
  background: #EADEED;
}

.form__item:focus {
  background: #FFFFFF;
  border: 3px solid var(--color-4-hover-focus);
  box-sizing: border-box;
}

.form__list-pr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;

  margin-bottom: 60px;
}

.form__item-pr {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
}

.form__style {
  -webkit-appearance: button;

  width: 27px;
  height: 27px;
  background: #FFFFFF;

  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  vertical-align: middle;

  padding-right: 5px;
}

.form__style:focus , .form__style:active , .form__style:hover {
  width: 33px;
  height: 33px;
  border: 1px solid var(--color-1);
  box-sizing: border-box;
  background: #FFFFFF;
}

.form__text-pr {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.form__main-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.form__date-time {
  display: inline-block;
}

.form__item-date {
  width: 134px;
  height: 52px;

  margin-bottom: 36px;
}


.form__list-date2 {
  margin-right: 24px;
}

.form__item-hm {
  width: 300px;
  height: 52px;
}

.form__list-hm {
  width: 300px;
  height: 52px;

  display: block;
}

.forms__span {
  display: block;
  margin-bottom: 4px;
}

.form__block {
  width: 280px;
  height: 52px;
}

.form__block:hover , .form__item-date:hover , .form__item-hm:hover , .form__blocks:hover ,
.form__block:active , .form__item-date:active , .form__item-hm:active , .form__blocks:active ,
.form__block:focus , .form__item-date:focus , .form__item-hm:focus , .form__blocks:focus
{
  background: #FFFFFF;
  border: 3px solid var(--color-2);
  box-sizing: border-box;
}

.form__block , .form__blocks {
  margin-bottom: 14px;
}

.form__some-blocks {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.form__blocks {
  width: 300px;
  height: 52px;
}

.form__contacts , .form__name {
  margin-top: -22px;
  margin-bottom: 40px;
}

.form__submit {
  background: #FFFFFF;
  border-radius: 10px;
  background-size: 300px 60px;
  width: 300px;
  height: 60px;

  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height, or 127% */

  text-transform: uppercase;

  color: var(--color-2);

  cursor: pointer;
}

.form__submit:hover {
  background: #EADEED;
  border: 3px solid var(--color-2);
  box-sizing: border-box;
}

.form__submit:active {
  background: #EADEED;
}

.form__submit:focus {
  background: #FFFFFF;
  border: 3px solid var(--color-2);
  box-sizing: border-box;
}

.form__submits {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-right: 90px;
}


