.happy__text {
  width: 980px;
  height: 103px;

  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  /* or 125% */

  margin-right: auto;
  margin-left: auto;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 40px;
}

.happy__list {
  display: flex;
  flex-basis: 380px;
  gap: 40px 20px;
  flex-wrap: wrap;
}

.happy__p {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.happy__item {
  padding-top: 166px;
  padding-left: 40px;

  width: 380px;
  height: 228px;
}

.happy__item:hover , .happy__item:focus , .happy__item:active {
  transform: scale(1.1);
  transition-duration: 250ms;
}

.happy__item_1-img {
  background-image: url("../happy/img/1.png");
}

.happy__item_2-img {
  background-image: url("../happy/img/2.png");
  transform: translate(0, 70px);
}
.happy__item_3-img {
  background-image: url("../happy/img/3.png");
}
.happy__item_4-img {
  background-image: url("../happy/img/4.png");
}
.happy__item_5-img {
  background-image: url("../happy/img/5.png");
  transform: translate(0, 70px);
}
.happy__item_6-img {
  background-image: url("../happy/img/6.png");
}

.happy__item_2:hover . .happy__item_5:hover ,
.happy__item_2:focus , .happy__item_2:active ,
.happy__item_5:focus , .happy__item_5:active {
  transform: scale(1.1) translate(0, 70px);
  transition-duration: 250ms;
}

.happy {
  padding-bottom: 120px;
}
