.happy__text {
  max-width: 980px;

  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  /* or 125% */

  margin-right: auto;
  margin-left: auto;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 40px;
}

.happy__list {
  display: flex;
  flex-basis: 380px;
  gap: 40px 20px;
  flex-wrap: wrap;
}

.happy__p {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.happy__item {
  padding-top: 166px;
  padding-left: 40px;

  width: 380px;
  height: 228px;
}

.happy__item:hover , .happy__item:focus , .happy__item:active {
  transform: scale(1.1);
  transition-duration: 250ms;
}

.happy__item_1-img {
  background-image: url("../happy/img/1.png");
}

.happy__item_2-img {
  background-image: url("../happy/img/2.png");
  transform: translate(0, 70px);
}
.happy__item_3-img {
  background-image: url("../happy/img/3.png");
}
.happy__item_4-img {
  background-image: url("../happy/img/4.png");
}
.happy__item_5-img {
  background-image: url("../happy/img/5.png");
  transform: translate(0, 70px);
}
.happy__item_6-img {
  background-image: url("../happy/img/6.png");
}

.happy__item_2:hover , .happy__item_5:hover ,
.happy__item_2:focus , .happy__item_2:active ,
.happy__item_5:focus , .happy__item_5:active {
  transform: scale(1.1) translate(0, 70px);
  transition-duration: 250ms;
}

.happy {
  padding-bottom: 120px;
}

@media (max-width: 1024px) {
  .happy__text {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 35px;
  }

  .happy__text > p {
    display: block;
  }

  .happy__item {
    width: 287px;
    height: 172px;


    padding-top: 114px;
    padding-left: 20px;
  }

  .happy__p {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
  }

  .happy {
    padding-bottom: 90px;
  }
}

@media (max-width: 768px) {
  .happy {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .happy__text {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .happy__item_2:hover , .happy__item_5:hover ,
  .happy__item_2:focus , .happy__item_2:active ,
  .happy__item_5:focus , .happy__item_5:active {
    transform: scale(1.1);
    transition-duration: 250ms;
  }

  .happy__item_1-img {
    background-image: url("../happy/img/1 768.png");
  }

  .happy__item_2-img {
    background-image: url("../happy/img/2 768.png");
    transform: translate(0);
  }
  .happy__item_3-img {
    background-image: url("../happy/img/3 768.png");
  }
  .happy__item_4-img {
    background-image: url("../happy/img/4 768.png");
  }
  .happy__item_5-img {
    background-image: url("../happy/img/5 768.png");
    transform: translate(0);
  }
  .happy__item_6-img {
    background-image: url("../happy/img/6 768.png");
  }

  .happy__list {
    display: flex;
    flex-basis: 334px;
    gap: 20px;
    flex-wrap: wrap;
  }

  .happy__p {
    font-size: 20px;
    line-height: 28px;
  }

  .happy__item {
    padding-top: 132px;
    padding-left: 30px;

    width: 334px;
    height: 200px;
  }
}

@media (max-width: 320px) {
  .happy {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .happy__text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 30px;
  }

  .happy__item_2:hover , .happy__item_5:hover ,
  .happy__item_2:focus , .happy__item_2:active ,
  .happy__item_5:focus , .happy__item_5:active {
    transform: scale(1.1);
    transition-duration: 250ms;
  }

  .happy__item_1-img {
    background-image: url("../happy/img/1 320.png");
  }

  .happy__item_2-img {
    background-image: url("../happy/img/2 320.png");
    transform: translate(0);
  }
  .happy__item_3-img {
    background-image: url("../happy/img/3 320.png");
  }
  .happy__item_4-img {
    background-image: url("../happy/img/4 320.png");
  }
  .happy__item_5-img {
    background-image: url("../happy/img/5 320.png");
    transform: translate(0);
  }
  .happy__item_6-img {
    background-image: url("../happy/img/6 320.png");
  }

  .happy__list {
    display: flex;
    flex-basis: 135px;
    gap: 8px;
    flex-wrap: wrap;
  }

  .happy__p {
    font-size: 10px;
    line-height: 14px;
  }

  .happy__item {
    padding-top: 30px;
    padding-left: 10px;

    width: 135px;
    height: 75px;
  }
}
