.feedback__blocks {
  margin-bottom: 50px;
}

.feedback__blocks:last-child {
  padding-bottom: 0;
  margin-bottom: 0;

}

.feedback__main-block {
  padding: 0 90px;
}

.feedback__start-word {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;

  text-align: center;
  text-transform: uppercase;

  margin-bottom: 40px;
}

.feedback__block{
  display: inline-block;
  vertical-align: middle;
}

.feedback__block-1 {
  margin-right: 20px;
  position: relative;
}

.feedback__img {
  margin-bottom: 11px;
}

.feedback__block-1::before {
  content: url("../feedback/img/left.svg");

  position: absolute;
  left: -85px;
  top: 110px;

  cursor: pointer;
}

.feedback__block-1::after {
  content: url("../feedback/img/right.svg");

  position: absolute;
  left: 1055px;
  top: 110px;

  cursor: pointer;
}

.feedback__block-2 {
  width: 680px;
  height: 88px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  color: #FFFFFF;

  vertical-align: middle;
  display: inline-block;
}

.feedback__block-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */

  text-align: center;
}

@media (max-width: 1024px) {
  .feedback__img {
    width: 172px;
    height: 172px;
  }

  .feedback__block-2 {
    width: 515px;
    height: 105px;
    display: inline-block;
    font-size: 18px;
    line-height: 26px;
  }

  .feedback__block-1::before {
    content: url("../feedback/img/left 1024.svg");

    position: absolute;
    left: -85px;
    top: 64px;
  }

  .feedback__block-1::after {
    content: url("../feedback/img/right 1024.png");

    position: absolute;
    left: 779px;
    top: 64px;
  }
}

@media (max-width: 768px) {
  .feedback__block-1::after {
    content: url("../feedback/img/right 1024.png");
    position: absolute;
    left: 552px;
    top: 64px;
  }

  .feedback__img {
    width: 153px;
    height: 153px;
  }

  .feedback__block-2 {
    vertical-align: middle;
    max-width: 326px;
    max-height: 94px;
    display: inline-block;
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 320px) {
  .feedback__block-1::after {
    content: url("../feedback/img/right 1024.png");
    position: absolute;
    left: 130px;
    top: 26px;
  }

  .feedback__block-1::before {
    top: 26px;
  }

  .feedback__img {
    width: 86px;
    height: 86px;
  }

  .feedback__block-2 {
    max-width: 280px;
    max-height: 66px;
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin-left: -90px;
  }

  .feedback__start-word {
    font-size: 14px;
    line-height: 16px;
  }
}
