section.contacts {
  padding-bottom: 100px;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts__text {
  margin-bottom: 54px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;

  text-align: center;
  text-transform: uppercase;
}

.contacts__link{
  list-style: none;
  background-repeat: no-repeat;
  background-size: contain;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.contacts__block-adres {
  margin-bottom: 41px;
}

.contacts__link_adres{
  background-image: url("../contacts/img/location.svg");
}

.contacts__link_phone{
  background-image: url("../contacts/img/phone-call.svg");
}

.contacts__link_mail{
  background-image: url("../contacts/img/envelope.svg");
}

.contacts__link_p{
  padding-left: 63px;
}

.contacts__link_a{
  padding-left: 62px;
  color: #FFFFFF;
  text-decoration: none;
}

.contacts__mes{
  height: 40px;
  width: 40px;
  display: inline;
  margin-right: 28px;
}

.contacts__mes:last-child{
  margin-right: 0;
}

.contacts__block {
  margin-bottom: 30px;
}

.contacts__mes > a {
  padding-left: 48px;
  padding-top: 48px;
}

.contacts__link_inst {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
  background-image: url("../contacts/img/entypo-social_instagram-with-circle.svg");
  background-repeat: no-repeat;
}

.contacts__link_vk {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
  background-image: url("../contacts/img/entypo-social_vk-with-circle.svg");
  background-repeat: no-repeat;
}

.contacts__link_fb {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
  background-image: url("../contacts/img/akar-icons_facebook-fill.svg");
  background-repeat: no-repeat;
}

.contacts__link_tg {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
  background-image: url("../contacts/img/bi_telegram.svg");
  background-repeat: no-repeat;
}

.contacts__blocks {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.contacts__fot-text {
  display: block;
  text-align: right;
}

.contacts__blocks {
  margin-bottom: 150px;
}

.contacts__link_pattern:hover {
  background:  #EADEED;
}

.contacts__link_pattern:active {
  background: #CD06FF;
}

.contacts__link_pattern:focus {
  background: #EADEED;
}
