header {
  padding-top: 30px;
}

.menu {
  max-width: 1180px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  list-style: none;
}

.menu__item > a:hover {
  color: var(--color-1);
}


.menu__item {
  display: inline-block;
  padding-right: 40px;

  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  /* identical to box height, or 227% */

  text-transform: uppercase;
}

.menu__item:last-child {
  padding-right: 0;
}

.menu__order {
  display: inline-block;
  width: 280px;
  height: 55px;

  border: 3px solid #CD06FF;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: transparent;

  padding: 10px 32px;

  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  /* identical to box height, or 136% */

  text-transform: uppercase;

  color: white;
}

.menu__order:hover {
  background: var(--color-2);
  border: 3px solid var(--color-2);
}

.menu__order:active {
  background: var(--color-3-hover-focus);
}

.menu__order:focus {
  background: var(--color-2);
}

.menu__order:checked {
  background: var(--color-4-hover-focus);
}

.menu__img-menu {
  display: none;
}

@media (max-width: 1024px) {
  .menu__img {
    width: 87px;
    height: 55px;
  }

  .menu__item {
    font-size: 18px;
    line-height: 22px;

    padding-right: 20px;
  }

  .menu__order {
    font-size: 18px;
    line-height: 24px;
    width: 229px;
    height: 45px;
    padding: 10px 20px;
  }

  .menu {
    max-width: 1024px;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
  }

  .menu__img-menu {
    display: none;
  }

}

@media (max-width: 768px) {
  .menu__img {
    width: 87px;
    height: 55px;
    order: 2;
  }

  .menu__img-menu {
    display: inline-block;
    width: 54px;
    height: 29px;
    order: 1;
  }

  .menu__list , .menu__item {
    display: none;
  }

  .menu__order {
    order: 3;
  }

}
