header {
  padding-top: 50px;
  padding-bottom: 25px;
}

.menu {
  max-width: 1180px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  list-style: none;
}

.menu__item:hover {
  color: #CD06FF;
}

.menu__item {
  display: inline-block;
  padding-right: 40px;

  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  /* identical to box height, or 227% */

  text-transform: uppercase;
}

.menu__item:last-child {
  padding-right: 0;
}

.menu__checkbox {

}

.menu__order {
  display: inline-block;
  width: 280px;
  height: 55px;

  border: 3px solid #CD06FF;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: transparent;

  padding: 10px 32px;

  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  /* identical to box height, or 136% */

  text-transform: uppercase;

  color: white;
}

.menu__order:hover {
  background: #6C0287;
  border: 3px solid #6C0287;
}

.menu__order:active {
  background: #640AA3;
}

.menu__order:focus {
  background: #6C0287;
}
