
.halls__block:not(:nth-child(2n-1)) {
  block-size: border-box;
  margin-right: 15px;
}

.halls__block1, .halls__block2{
  margin-bottom: 15px;
}

.halls__block-text {
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  /* identical to box height, or 114% */

  text-align: center;
  text-transform: uppercase;
}

.halls__block {
  display: inline-block;
  vertical-align: top;
}

.halls__bloc-uni {
  background-size: 580px 349px;
  background-repeat: no-repeat;
  width: 580px;
  height: 349px;

  padding-left: 0;
  padding-top: 104px;
}

.halls__block1 {
  background-image: url("../halls/img/halls1.png");
}

.halls__block2 {
  background-image: url("../halls/img/halls2.png");
}

.halls__block3 {
  background-image: url("../halls/img/halls3.png");
}

.halls__block4 {
  background-image: url("../halls/img/halls4.png");
}

.halls__text{
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;

  text-align: center;
  text-transform: uppercase;

  padding-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 1024px) {
  .halls__block {
    max-width: 430px;
    max-height: 267px;
    margin-bottom: 12px;
  }

  .halls__block:not(:nth-child(2n-1)) {
    block-size: border-box;
    margin-right: 20px;
  }

  .halls__text {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 36px;
  }

  .halls__bloc-uni {
    width: 443px;
    height: 267px;

    background-size: 443px 267px;
    background-repeat: no-repeat;

    padding-left: 0;
    padding-top: 85px;
  }

  .halls__block-text {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
  }

  .halls {
    padding-bottom: 70px;
  }
}

@media (max-width: 768px) {
  .halls__text {
    margin-bottom: 30px;
  }

  .halls__block {
    max-width: 335px;
    max-height: 200px;
    margin-bottom: 12px;
  }

  .halls__block:not(:nth-child(2n-1)) {
    block-size: border-box;
    margin-right: 5px;
  }


  .halls__bloc-uni {
    width: 335px;
    height: 200px;

    background-size: 335px 200px;
    background-repeat: no-repeat;

    padding-left: 0;
    padding-top: 53px;
  }

  .halls__block-text {
    font-size: 40px;
    line-height: 50px;
  }

  .halls {
    padding-bottom: 60px;
  }
}


@media (max-width: 320px) {
  .halls__text {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .halls__block {
    max-width: 280px;
    max-height: 168px;
    margin-bottom: 8px;
  }

  .halls__block:not(:nth-child(2n-1)) {
    block-size: border-box;
    margin-right: 0;
  }


  .halls__bloc-uni {
    width: 280px;
    height: 168px;

    background-size: 280px 168px;
    background-repeat: no-repeat;

    padding-left: 0;
    padding-top: 50px;
  }

  .halls__block-text {
    font-size: 26px;
    line-height: 34px;
  }

  .halls {
    padding-bottom: 15px;
  }
}
