
.halls__block:not(:nth-child(2n-1)) {
  block-size: border-box;
  margin-right: 15px;
}

.halls__block1, .halls__block2{
  margin-bottom: 15px;
}

.halls__block-text {
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  /* identical to box height, or 114% */

  text-align: center;
  text-transform: uppercase;
}

.halls__block {
  display: inline-block;
  vertical-align: top;
}

.halls__bloc-uni {
  background-size: 580px 349px;
  background-repeat: no-repeat;
  width: 580px;
  height: 349px;
}

.halls__block1 {
  background-image: url("../halls/img/halls1.png");

  padding-left: 10px;
  padding-top: 135px;
}

.halls__block2 {
  background-image: url("../halls/img/halls2.png");

  padding-left: 10px;
  padding-top: 135px;
}

.halls__block3 {
  background-image: url("../halls/img/halls3.png");

  padding-left: 10px;
  padding-top: 135px;
}

.halls__block4 {
  background-image: url("../halls/img/halls4.png");

  padding-left: 10px;
  padding-top: 135px;
}

.halls__text{
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;

  text-align: center;
  text-transform: uppercase;

  padding-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 1024px) {
  .halls__text {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 36px;
  }

  .halls__bloc-uni {
    width: 443px;
    height: 267px;

    background-size: 443px 267px;
    background-repeat: no-repeat;
  }

  .halls__block-text {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
  }

  .halls {
    padding-bottom: 70px;
  }
}
